.summery-header {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 0px;
}

.modal-body {
  padding: 10px 20px;
  margin: 10px 20px;
}
.title-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.summery-label {
  width: 50%;
}

.rowData {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  padding: 4px;
}
.value {
  width: 50%;
}
.modal-footer {
  padding: 5px;
  border-top: 0px;
}

.upgrade-button {
  margin: 10px;
}

.btn-upgrade {
  width: 140px;
  white-space: normal;
  height: 50px;
}
